<nav class="ui menu">
  <header class="ui header item"> <a href="/"> John's Gym </a> </header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/trainerdashboard"> Dashboard  </a>
    <a id="about" class="item" href="/trainerabout"> About </a>
    <a id="logout" class="ui icon button" href="/logout"> <i class="large user icon"></i> </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>
