{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Javascript Gym is an app to help you keep track of your weight, BMI and measurements week by week.
  </h3>
  <p>
  </p>
</section>